.comment{
    margin: 0.7em;
    padding: 0.3em;
    border-radius: 0.4em;
    background: var(--search-area-bg);
    text-align: left;
    &__text{
        text-align: right;
    }
    &__published{
        font-size: 0.7em;
    }
}