
.form{
    max-width:  349px;
    background-color: #f2f2f2;
    position: relative;
}
.filter{
    &_type{
        border-bottom: 1px solid #dbdbdb;
        color: #555457;
        padding-bottom: 12px;
        padding-top: 14px;
    }
    &_container{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        position: relative;
    }
    &_currencies{
        display: flex;
        &__item{
            transition: all .2s ease-in-out;
        }
    }

}

 