.footer{
    padding: 0.5em 0;
    background: var(--dark-bg-color); 
    color: var(--text-color-light);
 
    &_container{
        display: flex;
        align-items: top;
        justify-content: space-around;
    }
    &_social{
        min-width: 9em;
        display: flex;
        justify-content: space-around;
        &__item{
            i{
                font-size: 2em;
                transition: .4s;

                &:hover{
                    color: var(--main-design-color);
                }
            }
        }
    }
    &__item{
        // font-size: 0.6em;
        display: flex;
        align-items: center;
        text-align: left; 
        line-height: 1.1;
        max-width: 16em;
    }
    &_list{
        
        &__item{
            
            color: var(--text-color-dark);
            position: relative;
            cursor: pointer;
            transition: ease-out .3s;
            display: flex;
            i{
                color: var(--main-design-color);
                margin-right: 5px;
                font-size: 1em;               
            }
 
            &:hover{
                 color: var(--main-design-color);
            }
        }
    }
    &__title{
        text-transform: uppercase;
    }
    &__logo{
        font-size: 2.2em;
        font-family: 'Girassol', cursive; 
        padding: 0.3em 0;
        line-height: 1;
        span{
            font-size: 0.5em;
            color: var(--main-design-color);
        }
    }
}




@media (max-width: 550px){
    .footer{
        &_container{
            display: block; 
        }
        &__item{
            display: block;
            padding-top: 1em;
            width: 100%;
            max-width: none;
            text-align: center;
        }
        &_list{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_social{
            margin: 0 auto;
            max-width: 10em;
        }
    }


}
