@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
.wrapper{
    display: flex;
    align-items: center;
}
 
.navigation{
    width: 100%;   
    display: flex; 
    position: relative;
    justify-content: space-between;
    font-weight: bold;
    // border-bottom: 1px solid #000;
    &__logo{
        font-size: 3em;
        font-family: 'Girassol', cursive;
        color: var(--main-design-color);
        padding: 0.3em 0;
        line-height: 1;
        span{
            font-size: 0.5em;
            color: black;
        }
    }

    &__list{
        display: flex;
        align-items: center;
        color: var(--text-color-dark);
        li{ 
            span{
                transition: 0.5s;
            }
            i{ 
                transform: rotate(-90deg);
                transition: 0.5s;
            }
            >ul{
                position: absolute;
                z-index: 11;
                bottom: 0;
                transform: translateY(100%);
                display: none;
                box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
                background: var(--main-bg-color);
                li{
                    position: relative;
                    padding: 1.3em 2em 1.3em 2em;
                    text-align: left;
                    &:hover::before{
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 0.3em;
                        height: 100%;
                        background: var(--main-design-color);
                    }
                    &:hover{
                        > a{
                            color: var(--main-design-color);
                        }
                    }
                }
            }
            &:hover{
                > ul{
                    display: block;
                }
            }
        }
    }
    &__item{
        padding: 2em 1em 1.8em;
        position: relative; 
        display: block;
        transition: .5s;
        color: var(--text-color-dark); 
        >ul{
            position: absolute;
            z-index: 11;
            bottom: 0;
            transform: translateY(100%);
            display: none;
            box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
            background: var(--main-bg-color);
            li{
                position: relative;
                padding: 1.3em 2em 1.3em 2em;
                text-align: left;
                &:hover::before{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 0.3em;
                    height: 100%;
                    background: var(--main-design-color);
                }
                &:hover{
                    > a{
                        color: var(--main-design-color);
                    }
                }
            }
        }

        &:hover{
            color: var(--main-design-color); 
            span{
                color: var(--main-design-color); 
            }
            i{
                color: var(--main-design-color); 
                transform: rotate( 0deg);  
            }
        }
        &:hover{
            > ul{
                display: block;
            }
        }
        &:hover::before{
            content: ''; 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height:  0.3em;
            background: var(--main-design-color);
            }
    }
}

.active{
    color: var(--main-design-color); 
    &::before{
        content: ''; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:  0.3em;
        background: var(--main-design-color);
    }
}
 
.signIn{
    margin-left: 5em;
    display: flex;
    align-items: center;
    padding: 0.7em 3em;  
    border: 1px solid var(--main-design-color);
    border-radius: 1.2em;
    background: none;
    color: var(--main-design-color);
    transition: .4s;
    text-transform: uppercase;
    i{
        padding-right: 0.3em;
    }
    &:hover{
        background: var(--main-design-color);
        color: #fff;
    }
}

.toggler{
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 15px;
    z-index: 0;
    opacity: 0;
}


 

 
@media (max-width: 823px){
    .navigation__item{ 
        padding-right: 0.6em;
        padding-left: 0.6em;
    }
}

@media (max-width: 860px){
    .signIn{
        margin-left: 2em;
    }
}

@keyframes roadRunnerIn {
    0% {
      transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    50% {
        transform:translateX(-0px) skewX(0deg) scaleX(1);
    }
    100% {
        transform:translateX(-7px) skewX(0deg) scaleX(1);
    }
}

@media (max-width: 768px){
 
    .navigation{ 
        display: block;
        &__list{
            animation: roadRunnerIn .7s cubic-bezier(0.165, 0.840, 0.83, 1.00) both;
            width: 300px;
            height: auto; 
            top: 0;
            left: -4%;
            background: #000;
            position: fixed;
            z-index: 33;
            display: none;
            align-items: center;
            border-radius: 0px 0px 27px 0px;

        }
        &__item{ 
            transition: all ease-in .4s;
            text-align: left;
            padding-left: 4em;
            

            >ul{
                position: relative;
                transform: translateY(0);
                width: 100%;
                box-shadow: none;
                margin: 0 auto;
                li{
                    position: relative;
                    text-align: left;
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0; 
                    padding: 1.3em 0em 0em 0em;
                    &:hover::before{
                        top: 0;
                        left: 0;
                        width: 100%;
                        height:  0.3em;
                    }
                    i{
                        position: relative; 
                    }
            }}
        }
    }
    .wrapper{
        display: block;
    }
    .signIn{
        margin: 0 auto;
        margin-bottom: 20px;
        // max-width: 50px;
    }
    .toggler, .hamburger{
        position: absolute;
        top: -20px;
        right: 0   ;
        width: 40px;
        height: 40px ;
        z-index: 4;
    }
    .toggler{
        top: 20px;
        z-index: 55;
        &:checked {
            z-index: 33;
            width: 100%;
            height: 100vh;
        }
        &:checked + .hamburger > div {
            transform: rotate(135deg);
            
            &:before, &:after{
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:checked:hover + .hamburger > div   {
            transform: rotate(225deg);
        }
        &:checked ~ .navigation__list { 
            display: block;
            opacity: 1;
        }
    }
    .hamburger {
        z-index: 32;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
            position: relative;
            flex: none;
            width: 100%;
            padding: 2px 0;
            background: var(--main-design-color);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            &::before, &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: -12px;
                width: 100%;
                padding: 2px 0;
                background: inherit;}
            &::after {
                top:  12px ;
            }
        }
    } 
}