@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
:root {
    --main-design-color: rgb(0, 122, 144);
    --main-bg-color: #fbfbfb;
    --dark-bg-color: #363636;
    --search-area-bg: #fffefe;
    --text-color-dark: #7e7e7e;
    --text-color-light: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

body {
    background: var(--main-bg-color);
    font-size: 16px;
}

.container {
    position: relative;
    width: 98%;
    /* max-width: 1200px; */
    /* min-width: 400px; */
    text-align: center;
    margin: 0 auto;
    padding: 0 1%;
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
    }
}
 